.homepage{
  width: 100%;
  min-height: calc(100vh - var(--bigScreenMargin));
  /* margin: var(--bigScreenMargin) 0 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(
      rgba(0,0,0,0.3), 
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.55), 
      rgba(0,0,0,0.65)
    ), 
    url('biniBG.jpeg');
  background-size: cover;
  background-position: center;
}

.homepage .homepageContents{
  
}

.homepage .homepageContents .wcMessage{
  padding: 2rem;
}

.wcMessage h1, span{
  font-size: 6rem;
  font-weight: 400;
  font-family: 'Luckiest Guy', 'Montserrat';
  color: #f0f0f0;
  text-align: center;
}

.wcMessage p{
  font-size: 1rem;
  color: #f0f0f0;
  text-align: center;
}



.aboutContainer, .articleContainer{
  width: inherit;
  min-height: 100vh;
  text-align: center;
  padding-top: 5rem;
}

@media screen and (max-width: 900px){
  .homepage{
    /* min-height: 100vh; */
    margin: 0;
  }
  
  .wcMessage h1, span{
    font-size: 3rem;
  }
  
  .wcMessage p{
    font-size: 1rem;
  }
}

@media (max-width: 1660px) {
  body {
      max-width: 1660px;
  }
  .wcMessage h1, span {
    font-size: 3rem;
    font-weight: 400;
}
}

@media (max-width: 880px) {
  body {
      max-width: 880px;
  }
  .wcMessage h1, span {
    font-size: 2rem;
    font-weight: 400;
}
}

@media (max-width: 600px) {
  body {
      max-width: 600px;
  }
  .wcMessage h1, span {
    font-size: 1.2rem;
    font-weight: 400;
}

.wcMessage p{
  font-size: 0.5rem;
}

}

@media (max-width: 388px) {
  body {
      max-width: 388px;
  }
  .wcMessage h1, span {
    font-size: 1.2rem;
    font-weight: 400;
}

.homepage .homepageContents .wcMessage {
  padding: 0rem;
}

.wcMessage p{
  font-size: 0.5rem;
}

}